$moss: #16551D88;
$red:rgb(126, 91, 91);
$background: rgb(82, 79, 70);
$dark: #222222;
$light: rgb(116, 111, 111);
$input: rgb(201, 211, 197);

body {
    font-family: Times, serif;
    background: url('img/map.jpg');
    background-size: cover
}

.text-darkred {
    color: darkred;
    font-weight: 600;
}

.text-sub {
    font-size: calc(10px + 1vh);
}

.bg-mg {
    background-color: $background;
    color: white;
}

.border-mg {
    border: solid 10px $dark
}

.btn-mg {
    background-color: $red;
    color: white;
    border: solid 1px;
}

.btn-mg:active {
    color: black;
    background-color: $dark;
}

.input-mg {
    background-color: $input;
    color: black;
    border: solid 1px;
    border-color: white;
}

.textarea-mg {
    background-color: $light;
    border: solid 1px white;
    color: white
}

.dropdown-item.active {
    background-color: $background;
    color: white
}

.dropdown-item:active {
    background-color: $light;
}

.sheet {
    color: darkgrey;

    h1 {
        font-weight: 900;
    }

    h2 {
        font-weight: 800;
    }

    h3 {
        color: white;
        font-weight: 600;
    }
}

.recruit-form {
    font-size: calc(10px + 3vh);
    max-width: 500px;
    font-weight: 900;
    background-color: white;
}

.recruit-next {
    background-color: green // TODO better marker later
}

.recruit-disabled {
    filter: brightness(20%)
}

.infopane {
    background-color: #16551D88;
    color: white;
    text-align: center;
    height: 10vh;
}